@import 'variables';

.movie-tile {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: space-between;
    height: 100%;
    color: $text-color;
    cursor: pointer;

    &__header {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__title {
        padding: 0;
        margin: 0;
    }

    &__release {
        border-radius: 10px;
        border: 1px solid $text-color;
        padding: 5px 10px;
    }
}