@import 'variables';

.search-form__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    h2 {
        text-transform: uppercase;
        color: $text-color;
    }

    #search-form{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
